body {
  background-color: black;
}

#doorImage {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

::-webkit-scrollbar
{
    display: none;
}
