@font-face {
    font-family: "PerfectDOS";
    src: url("perfect_dos_vga.ttf")
}

body {
    background-color: black;
}

.console-font {
    font-family: "PerfectDOS", monospace
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 5px;
}
